<li>
    <a href="{{ path('etherveins') }}">Ätheradern</a>
</li>
<li>
    <a href="{{ path('equip') }}">Ausrüstung</a>
</li>
<li>
    <a href="{{ path('jewels') }}">Juwelen</a>
</li>
<li>
    <a href="{{ path('collection') }}">Kollektikon</a>
</li>
<li>
    <a href="{{ path('chests') }}">Truhen</a>
</li>
<li>
    <a href="{{ path('collectionitems') }}">Sammelitems</a>
</li>
