<li>
    <a href="{{ path('etherveins') }}">Ätheradern</a>
</li>
<li>
    <a href="{{ path('gear') }}">Ausrüstung</a>
</li>
<li>
    <a href="{{ path('merchants') }}">Händler</a>
</li>
<li>
    <a href="{{ path('jewels') }}">Juwelen</a>
</li>
<li>
    <a href="{{ path('collection') }}">Kollektikon</a>
</li>
<li>
    <a href="{{ path('chests') }}">Truhen</a>
</li>
<li>
    <a href="{{ path('collectionitems') }}">Sammelitems</a>
</li>
<li>
    <a href="{{ path('weapons') }}">Waffen</a>
</li>
<li>
    <a href="{{ path('important_items') }}">Wichtiges</a>
</li>
