{% extends '_layout.html.twig' %}

{% block headline %}Truhen{% endblock %}
{% block submenu %}
    <ul class="submenu-rv">
        {% include 'items/_submenu.html.twig' %}
    </ul>
{% endblock %}
{% block content %}
    {% for chapter, chestPoints in viewData %}
        {% if not chestPoints is empty %}
            <h2>{{ chapter }}</h2>
            <style type="text/css">
                ul { float:left; margin:10px 10px 20px -5px; padding:0; }
            </style>
            <table class="guide-table">
                <tr class="tablehead">
                    <td>
                        Name:
                    </td>
                    <td width="600">
                        Beschreibung:
                    </td>
                    <td>
                        Karte:
                    </td>
                    <td>
                        Items:
                    </td>
                </tr>
                {% for chestPoint in chestPoints %}
                    {% if not chestPoint.chest is empty  %}
                    <tr class="{{ loop.index is odd ? "odd" : "even" }}">
                        <td>
                            <a name="{{ chestPoint.chest.chestid }}"></a>
                            {{ chestPoint.chest.name }}
                        </td>
                        <td>
                            {{ chestPoint.chest.description|raw }}
                        </td>
                        <td>
                            {% include '_map.html.twig' with {
                                'map': chestPoint.map,
                                'mapPoint': chestPoint,
                                'name': chestPoint.chest.name,
                                'color': 'yellow'
                            } %}
                        </td>
                        <td class="borderLeft">
                            {{ render(controller('App\\Controller\\ItemsController::chestLootList',
                            { 'chestItemRelations': chestPoint.chest.itemRelationShips }
                            ))}}
                        </td>
                    </tr>
                    {% endif %}
                {% endfor %}
            </table>
            {% endif %}
    {% endfor %}
{% endblock %}