<div class="pointlabel" style="left: {{ mapPoint.xpos + 15 }}px; top: {{ mapPoint.ypos - 2 }}px; color: {{ color }}">{{ name|raw }}</div>
<img class="pointimg" style="left: {{ mapPoint.xpos }}px; top: {{ mapPoint.ypos }}px" src="{{ asset('/images/'~ color ~'point.png') }}" />