{% extends '_layout.html.twig' %}

{% block headline %}Harmoniegespräche{% endblock %}
{% block title %}Harmoniegespräche{% endblock %}

{% block submenu %}
    <ul class="submenu-rv">
        {% include 'extras/_submenu.html.twig' %}
    </ul>
{% endblock %}

{% block content %}


<script>
    function Filter() {
      var table, tr, i;
      personInput = document.getElementById("personInput");
      chapterInput = document.getElementById("chapterInput");
      harmonyInput = document.getElementById("harmonyInput");
      personFilter = personInput.value.toUpperCase();
      chapterFilter = chapterInput.value.toUpperCase();
      harmonyFilter = harmonyInput.value.toUpperCase();
      table = document.getElementById("myTable");
      tr = table.getElementsByTagName("tr");

      // Hide all rows not matching the input
      // We want to skip the first table row (table head), so we start at i = 1
      for (i = 1; i < tr.length; i++) {
        personTd = tr[i].getElementsByTagName("td")[4];
        harmonyTd = tr[i].getElementsByTagName("td")[5];
        chapterTd = tr[i].getElementsByTagName("td")[6];

        if (personTd && chapterTd && harmonyTd) {
          if (    personTd.innerHTML.toUpperCase().indexOf( personFilter) > -1
              && chapterTd.innerHTML.toUpperCase().indexOf(chapterFilter) > -1
              && harmonyTd.innerHTML.toUpperCase().indexOf(harmonyFilter) > -1
             ) {
                tr[i].style.display = "";
           } else {
                tr[i].style.display = "none";
           }
         }
      }
    }
</script>


{# Hide filter if javascript is disabled #}
<noscript>
    <div style="visibility: hidden">
</noscript>

<strong>Filter:</strong><br />
(Wähle einen oder mehrere Filter)<br />
<br />

<label for="person">Person:</label>
<select name="person" id="personInput" onchange="Filter()">
    <option value="">Bitte wählen</option>
    {% for person in personFilterList %}
        <option value="{{ person.name }}">{{ person.name }}</option>
    {% endfor %}
</select>

<label for="chapter">Abschnitt:</label>
<select name="chapter" id="chapterInput" onchange="Filter()">
    <option value="">Bitte wählen</option>
    {% for chapter in chapterFilterList %}
        <option value="{{ chapter.name }}">{{ chapter.name }}</option>
    {% endfor %}
</select>

<label for="harmony">Harmonie:</label>
<select name="harmony" id="harmonyInput" onchange="Filter()">
    <option value="">Bitte wählen</option>
    <option value="Gelb">Gelb</option>
    <option value="Gruen">Grün</option>
    <option value="Lila">Lila</option>
    <option value="Rot">Rot</option>
</select>

<br />
<br />

<noscript>
    </div>
</noscript>

<table id="myTable" class="guide-table" align="center">
	<tr class="tablehead">
		<td>
			Name:
		</td>
		<td>
			Zeit:
		</td>
		<td>
			Ort:
		</td>
		<td>
			Lösung:
		</td>
		<td style="text-align:center;">
			Personen:
		</td>
		<td style="text-align:center;">
			Harmonie:
		</td>
		<td>
			Abschnitt:
		</td>
	</tr>
	{% for harmonyMeeting in harmonyMeetings %}
	<tr class="{{ loop.index0 is odd ? "odd" : "even" }}" style="{{ loop.last ? "border-bottom:1px #bbb solid;" }}">

	    <td>
	        <a name="{{ path('harmonymeetings') }}#{{ harmonyMeeting.hmid }}"></a>
			{{ harmonyMeeting.name }}
		</td>
		<td style="vertical-align:middle; text-align:center;">
		    {% if harmonyMeeting.time == 'Nachts' %}
		        <img src="{{ asset('/images/night.png') }}" alt="Nacht" />
		    {% else %}
		        <img src="{{ asset('/images/day.png') }}" alt="Tag" />
		    {% endif %}
		</td>
		<td >
			{{ harmonyMeeting.location | raw }}
		</td>
		<td>
			{{ harmonyMeeting.solution }}
		</td>
		<td style="text-align: center;">
			<img height="40" src="{{ asset('/images/personicons/' ~ harmonyMeeting.person1.img ) }}" alt="{{ harmonyMeeting.person1.name }}" />
			<img height="40" src="{{ asset('/images/personicons/' ~ harmonyMeeting.person2.img) }}" alt="{{ harmonyMeeting.person2.name }}" />
		</td>
		<td style="text-align:center;">
			<img alt="{{ harmonyMeeting.requiredHarmony }}" src="{{ asset('/images/'~ harmonyMeeting.requiredHarmony|lower ~'.png') }}" />
		</td>
		<td>
			{{ harmonyMeeting.chapter.name }}
		</td>

	</tr>
	{% endfor %}

</table>
{% endblock %}
