{% extends '_layout.html.twig' %}

{% block headline %}Harmoniegespräche{% endblock %}
{% block title %}Harmoniegespräche{% endblock %}

{% block submenu %}
    <ul class="submenu-rv">
        {% include 'extras/_submenu.html.twig' %}
    </ul>
{% endblock %}

{% block content %}

{#
<strong>Filter:</strong><br />
(Wähle einen oder mehrere Filter)<br />
<br />

Person:
Abschnitt:
Harmonie:
#}
{# TODO: Add filters  #}

<table class="guide-table" align="center">
	<tr class="tablehead">
		<td>
			Name:
		</td>
		<td>
			Zeit:
		</td>
		<td>
			Ort:
		</td>
		<td>
			Lösung:
		</td>
		<td style="text-align:center;">
			Personen:
		</td>
		<td style="text-align:center;">
			Harmonie:
		</td>
		<td>
			Abschnitt:
		</td>
	</tr>
	{% for harmonyMeeting in harmonyMeetings %}
	<tr class="{{ loop.index0 is odd ? "odd" : "even" }}" style="{{ loop.last ? "border-bottom:1px #bbb solid;" }}">

	    <td>
	        <a name="{{ path('harmonymeetings') }}#{{ harmonyMeeting.hmid }}"></a>
			{{ harmonyMeeting.name }}
		</td>
		<td style="vertical-align:middle; text-align:center;">
		    {% if harmonyMeeting.time == 'Nachts' %}
		        <img src="{{ asset('/images/night.png') }}" alt="Nacht" />
		    {% else %}
		        <img src="{{ asset('/images/day.png') }}" alt="Tag" />
		    {% endif %}
		</td>
		<td >
			{{ harmonyMeeting.location | raw }}
		</td>
		<td>
			{{ harmonyMeeting.solution }}
		</td>
		<td>
		{# TODO: Fix database  #}
			{{ harmonyMeeting.persons }}
			<img height="40" src="{{ asset('/images/personicons/1348591234.png') }}" alt="Shulk" />
			<img height="40" src="{{ asset('/images/personicons/1348591234.png') }}" alt="Shulk" />


		</td>
		<td style="text-align:center;">
		    {% if harmonyMeeting.requiredHarmony == 'Gelb' %}
		        <img alt="gelb" src="{{ asset('/images/gelb.png') }}" />
		    {% elseif harmonyMeeting.requiredHarmony == 'Lila' %}
		        <img alt="lila" src="{{ asset('/images/lila.png') }}" />
		    {% elseif harmonyMeeting.requiredHarmony == 'Blau' %}
		        <img alt="blau" src="{{ asset('/images/blau.png') }}" />
		    {% elseif harmonyMeeting.requiredHarmony == 'Rot' %}
		        <img alt="rot" src="{{ asset('/images/rot.png') }}" />
		    {% elseif harmonyMeeting.requiredHarmony == 'Gruen' %}
		        <img alt="grün" src="{{ asset('/images/gruen.png') }}" />
		    {% endif %}
		</td>
		<td>
			{{ harmonyMeeting.chapter.name }}
		</td>


	</tr>
	{% endfor %}

</table>



{% endblock %}
