<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <meta name="author" content="Xenoblade.org - Team" />
    <meta name="contact" content="kontakt@xenoblade.org" />
    <meta name="description" content="Guide zu Xenoblade Chronicles mit Diskussion und Hilfestellung rund um das Spiel" />
    <meta name="keywords" content="xenoblade, chronicles, guide, komplettl&ouml;sung, mission" />
    <script type="text/javascript" src="{{ asset('js/jquery-3.4.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/xenobladeorg.js?bla=1') }}"></script>
    <link rel="stylesheet" type="text/css" media="all" href="{{ asset('css/reset.css') }}" />
    <link rel="stylesheet" type="text/css" media="all" href="/css/style.css?ver=05" />
    <link rel="stylesheet" type="text/css" media="all" href="{{ asset('css/jquery-ui-1.10.3.custom.min.css') }}" />
    <link href="{{ asset('favicon.ico') }}" rel="shortcut icon" type="image/x-icon" />
    {% block head %}{% endblock %}
    <title>Xenoblade.org | {% block title %}Start{% endblock %}</title>
</head>
<body>
<div id="page">
    <div id="toparea">
        <div id="header">
            <img class="logo" src="{{ asset('images/logo.png') }}" />
            <img class="xclogo" src="{{ asset('images/xc_logo.png') }}" />
            <img class="headerbg" src="{{ asset('images/header70.jpg') }}" />
        </div><!-- #header -->
        <div id="navi">
            <ul id="menu-xenoblade-org-menu">
                <li>
                    <a href="{{ path('index') }}">Start</a>
                </li>
                <li>
                    <a href="{{ path('missions') }}">Missionen</a>
                    <ul class="sub-menu">
                        {{ render(controller('App\\Controller\\MissionsController::menu'))}}
                    </ul>
                </li>
                <li>
                    <a href="{{ path('persons') }}">Personen</a>
                    <ul class="sub-menu">
                        {% include 'persons/_submenu.html.twig' %}
                    </ul>
                </li>
                <li>
                    <a href="{{ path('maps') }}">Karten</a>
                </li>
                <li>
                    <a href="#">Item-Box</a>
                    <ul class="sub-menu">
                        {% include 'items/_submenu.html.twig' %}
                    </ul>
                </li>
                <li>
                    <a href="#">Guides</a>
                    <ul class="sub-menu">
                        {% include 'guides/_submenu.html.twig' %}
                    </ul>
                </li>
            </ul>
            {% block submenu %}{% endblock %}
        </div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
    <div id="wrapper">
        <div class="metanavi">
            <div class="breadcrumbs">
                <!--breadcrumbs-->
                <a href="http://www.xenoblade.org" title="Xenoblade.org.">Xenoblade.org</a> | Forum
            </div>
            <div class="contact" style="font-size:12px;">
                <a href="http://www.xenoblade2.org/torna" target="_blank">Xenoblade2.org/Torna</a> | <a href="http://www.xenoblade2.org" target="_blank">Xenoblade2.org</a> | <a href="http://www.xenobladex.org" target="_blank">XenobladeX.org</a> | <a href="http://www.xenoblade.org/impressum/">Impressum</a>
            </div>
            <div class="clear"></div>
        </div>

        <div class="clear"></div>
        <div id="maincontent">
            <div id="container">
                <div id="content" role="main">
                    <div>
                    <div class="sharebuttons">
                        <div class="fb-like">
                            <iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2FXenobladeOrg&amp;send=false&amp;layout=button_count&amp;width=101&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:21px; float:right; width:115px;" allowTransparency="true"></iframe>
                        </div>
                    </div>
                    <h1 class="entry-title">{% block headline %}{% endblock %}</h1>
                    </div>
                    <div class="pagecontent clear">
                        {% block content_style %}
                            <div></div>
                        {% endblock content_style %}
                        {% block content %}
                        {% endblock %}
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
