{% extends '_layout.html.twig' %}

{% block headline %}Harmonie Geschenke{% endblock %}
{% block content %}
    <br/>
    <br/>
    Hier sind alle Sammelitems samt Tauschpartner aufgeführt, in den Tabellen ist die Harmoniesteigerung bei den Charakteren angegeben, wenn man diese als Geschenke nutzt.<br/>
    Zu diesem Vorgang gibt es auch einen Guide: <a href="http://www.xenoblade.org/guides/anleitung-sammelitems-verschenken/">Harmoniesteigerung durch Geschenke &raquo;</a><br/>
    Zudem gibt es auch noch das Kollektikon, in dem die Sammelitems in der entsprechenden Ansicht des Spiels aufgelistet und verlinkt sind: <a href="http://www.xenoblade.org/item-box/kollektion/">Kollektikon &raquo;</a><br/>
    <br/>
    <br/>
    {% for item in items %}
    <div class="xc_ItemWrapper">
        <div class="xc_ItemContent">
            <div class="xc_ItemContentLeft">
                <div class="xc_ItemField">
                    <img style="vertical-align: middle;" width="20" src="{{ asset('images/icons/' ~ item.collectionFieldType.icon) }}" />
                </div>
                <div class="xc_ItemField">
                    <a name="iid{{ item.iid }}"></a>{{ item.name }}
                    <i>{{ item.collection.chapter.name }}</i>
                </div>
            </div>
            <div class="xc_ItemContentCenter">
                {{ item.description }}
            </div>
            <div class="xc_ItemContentRight">
                <div class="xc_ItemField">
                    {{ item.wert }} G
                </div>
                <div class="xc_ItemArrow">
                    <img src="/images/arrow_down.png" />
                </div>
            </div>
        </div>
        <div class="xc_ItemContentHidden">
            <div style="display:inline-block; vertical-align: top;">
                <strong>Tausch:</strong>

            </div>
            <div style="display:inline-block;vertical-align: top; margin-left: 20px;">
                <strong>Harmonie Geschenke:</strong>
                <table class="coloured-table harmony-table">
                    <thead>
                    <tr>
                        <td>
                            <img height="40" src="/images/personicons/1343387294.png" />
                        </td>
                        <td>
                            <img height="40" src="/images/personicons/1343387294.png" />
                        </td>
                        <td>
                            <img height="40" src="/images/personicons/1343387294.png" />
                        </td>
                        <td>
                            <img height="40" src="/images/personicons/1343387294.png" />
                        </td>
                        <td>
                            <img height="40" src="/images/personicons/1343387294.png" />
                        </td>
                        <td>
                            <img height="40" src="/images/personicons/1343387294.png" />
                        </td>
                        <td>
                            <img height="40" src="/images/personicons/1343387294.png" />
                        </td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <span>harmonyshulk</span><br/>
                            <img src="/images/hearts_2.png" /><br/>
                        </td>
                        <td>
                            <span>harmonyreyn</span><br/>
                            <img src="/images/hearts_2.png" /><br/>
                        </td>
                        <td>
                            <span>harmonysharla</span><br/>
                            <img src="/images/hearts_2.png" /><br/>
                        </td>
                        <td>
                            <span>harmonydunban</span><br/>
                            <img src="/images/hearts_2.png" /><br/>
                        </td>
                        <td>
                            <span>harmonymeli</span><br/>
                            <img src="/images/hearts_2.png" /><br/>
                        </td>
                        <td>
                            <span>harmonyriki</span><br/>
                            <img src="/images/hearts_2.png" /><br/>
                        </td>
                        <td>
                            <span>harmonyperson7</span><br/>
                            <img src="<?=$dir?>/images/hearts_2.png" /><br/>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock %}