{% extends '_layout.html.twig' %}

{% block headline %}
    Missionen{% if not chapter is empty %} - {{ chapter.name }}{% endif %}
{% endblock %}
{% block submenu %}
    <ul class="submenu-rv">
        {{ render(controller('App\\Controller\\MissionsController::menu'))}}
    </ul>
{% endblock %}
{% block content %}
    <a href="http://www.xenoblade.org/extra-talente/">Missionen f&uuml;r freischaltbare Talente &raquo;</a><br/>
    <br />
    <br />
    <table class="guide-table" align="center">
        <tr class="tablehead">
            <td>
                Name:
            </td>
            {% if chapter is empty %}
                <td>
                    Ort:
                </td>
            {% endif %}
            <td>
                L&ouml;sung:
            </td>
            <td>
                Person:
            </td>
            <td>
                Verf&auml;llt nach:
            </td>
            <td>
                Belohnung:
            </td>
            <td style="text-align:center">
                Harmonie:
            </td>
        </tr>
        {% for mission in missions %}
        <tr class="{{ loop.index is odd ? "odd" : "even" }}">
            <td><a name="m{{ mission.mid }}"></a>{{ mission.name }}</td>
            {% if chapter is empty %}
                <td>{{ mission.chapter.name }}</td>
            {% endif %}
            <td>
                {% if not mission.extraSkills is empty %}
                    {% for skill in mission.extraSkills %}
                        <i>Diese Mission schaltet {{ skill.character.name }} {% if skill.skill4 %}4{% else %}5{% endif %}. Charakterzug {{ skill.name }} frei</i><br/>
                    {% endfor %}
                {% endif %}
                {{ mission.solution|raw }}</td>
            <td><a href="{{ path('persons') }}#p{{ mission.person.pid }}">{{ mission.person.name }}</a></td>
            <td><center>{{ mission.timelimit|raw }}{% if mission.timelimit is empty %}-{% endif %}</center></td>
            <td>
                <ul>
                    <li>
                        {{ mission.ep }} EP
                    </li>
                    <li>
                        {{ mission.money }} G
                    </li>
                </ul>
                {{ render(controller('App\\Controller\\ItemsController::missionLootList',
                    { 'missionItemRelations': mission.itemRelations }
                ))}}
            </td>
            <td style="text-align:center">{{ mission.harmonychange }} {% if not mission.harmonychange is empty %}*{% endif %}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}