<td>
    {% if not person.img is empty %}
        <img alt="avatar" style="margin-right:10px;" height="50" src="{{ asset('/images/personicons/' ~ person.img) }}" />
    {% endif %}
</td>
<td style="width: 150px;">
    <a name="p{{ person.pid }}"></a>{{ person.name }}
    {% if person.age > 0 %}
        ({{ person.age }})
    {% endif %}
    {% if person.isFemale %}
        &nbsp;<img height="15" src="{{ asset('/images/femaleicon.png') }}" alt="weiblich" />
    {% else %}
        &nbsp;<img height="15" src="{{ asset('/images/maleicon.png') }}" alt="männlich" />
    {% endif %}
    {% if not person.race is empty %}
        <br/><i>{{ person.race.name }}</i>
    {% endif %}
</td>
<td>
    {{ person.location|raw }}
</td>
<td>
    {{ person.time }}
</td>
<td>
    {% set mapPoint = person.mapPoints[0]|default(null) %}
    {% include 'maps/_mapIcon.html.twig' with {
        'map': mapPoint.map|default(null),
        'mapPoint': mapPoint,
        'name': person.name,
        'color': 'yellow'
    } %}
</td>
