{% extends '_layout.html.twig' %}

{% block headline %}
    {{ spoiler ? 'Personen nach Mechonis-Kern' : 'Personen'}}
{% endblock %}
{% block submenu %}
    <ul class="submenu-rv">
        {% include 'persons/_person_submenu.html.twig' %}
    </ul>
{% endblock %}
{% block content %}
    {% if spoiler %}
        <a href="{{ path('persons') }}">Personen vorher &raquo;</a><br />
    {% else %}
        <a href="{{ path('colony6') }}">Kolonie 6 Einladungen auf der Seite "Kolonie 6 Ausbau" &raquo;</a><br/>
        <br/>
        <b>[Achtung Spoiler]</b> <a href="{{ path('persons_spoiler') }}">Personen nach Mechonis-Kern &raquo;</a><br />
    {% endif %}
    <br />
    <table class="guide-table" align="center">
        {% for chapter, persons in groupedPersons %}
            <tr class="tableheadline">
                <td colspan="6">
                    <h2>{{ chapter }}</h2>
                </td>
            </tr>
            <tr class="tablehead">
                <td></td>
                <td>
                    Name:
                </td>
                <td>
                    Ort:
                </td>
                <td>
                    Uhrzeit:
                </td>
                <td>
                    Karte:
                </td>
                <td>
                    Missionen:
                </td>
            </tr>
            {% for person in persons %}
            <tr class="{{ loop.index is odd ? "odd" : "even" }}" style="{% if loop.last %}border-bottom:1px #bbb solid;{% endif %}">
                {% include 'persons/_person_table_data.html.twig' with {'person': person} %}
                <td>
                    <ul>
                    {% for mission in person.missions %}
                        <li>
                            <a href="{{ path('missions') }}#m{{ mission.mid }}">
                                {{ mission.name }}
                            </a>
                        </li>
                    {% endfor %}
                    </ul>
                </td>
            </tr>
            {% endfor %}
        {% endfor %}
    </table>
{% endblock %}