<li>
    <a href="{{ path('characterguides') }}-shulk">Charakter: Shulk</a>
</li>
<li>
    <a href="{{ path('characterguides') }}-reyn">Charakter: Reyn</a>
</li>
<li>
    <a href="{{ path('characterguides') }}-fiora">Charakter: Fiora</a>
</li>
<li>
    <a href="{{ path('characterguides') }}-dunban">Charakter: Dunban</a>
</li>
<li>
    <a href="{{ path('characterguides') }}-sharla">Charakter: Sharla</a>
</li>
<li>
    <a href="{{ path('characterguides') }}-melia">Charakter: Melia</a>
</li>
<li>
    <a href="{{ path('characterguides') }}-riki">Charakter: Riki</a>
</li>
<li>
    <a href="{{ path('characterguides') }}-person7">Charakter: Person 7</a>
</li>
<li>
    <a href="{{ path('storyfights') }}">Handlungskämpfe</a>
</li>
<li>
    <a href="{{ path('colony6') }}">Kolonie 6 Ausbau</a>
</li>
<li>
    <a href="{{ path('extraskilltrees') }}">Tiefe Charakterzüge</a>
</li>
