<li>
    <a href="{{ path('chainattacks') }}">Angriffsketten</a>
</li>
<li>
    <a href="{{ path('characterguides_shulk') }}">Charakter: Shulk</a>
</li>
<li>
    <a href="{{ path('characterguides_reyn') }}">Charakter: Reyn</a>
</li>
<li>
    <a href="{{ path('characterguides_fiora') }}">Charakter: Fiora</a>
</li>
<li>
    <a href="{{ path('characterguides_dunban') }}">Charakter: Dunban</a>
</li>
<li>
    <a href="{{ path('characterguides_sharla') }}">Charakter: Sharla</a>
</li>
<li>
    <a href="{{ path('characterguides_melia') }}">Charakter: Melia</a>
</li>
<li>
    <a href="{{ path('characterguides_riki') }}">Charakter: Riki</a>
</li>
<li>
    <a href="{{ path('characterguides_person7') }}">Charakter: Person 7</a>
</li>
<li>
    <a href="{{ path('storyfights') }}">Handlungskämpfe</a>
</li>
<li>
    <a href="{{ path('giftguide') }}">Harmoniesteigerung durch Geschenke</a>
</li>
<li>
    <a href="{{ path('colony6') }}">Kolonie 6 Ausbau</a>
</li>
<li>
    <a href="{{ path('gemcrafting') }}">Schmieden</a>
</li>
<li>
    <a href="{{ path('extraskilltrees') }}">Tiefe Charakterzüge</a>
</li>
