<li>
    <a href="{{ path('charakterguides') }}-shulk">Charakter: Shulk</a>
</li>
<li>
    <a href="{{ path('charakterguides') }}-reyn">Charakter: Reyn</a>
</li>
<li>
    <a href="{{ path('charakterguides') }}-fiora">Charakter: Fiora</a>
</li>
<li>
    <a href="{{ path('charakterguides') }}-dunban">Charakter: Dunban</a>
</li>
<li>
    <a href="{{ path('charakterguides') }}-sharla">Charakter: Sharla</a>
</li>
<li>
    <a href="{{ path('charakterguides') }}-melia">Charakter: Melia</a>
</li>
<li>
    <a href="{{ path('charakterguides') }}-riki">Charakter: Riki</a>
</li>
<li>
    <a href="{{ path('charakterguides') }}-person7">Charakter: Person 7</a>
</li>
<li>
    <a href="{{ path('storyfights') }}">Handlungskämpfe</a>
</li>
<li>
    <a href="{{ path('colony6') }}">Kolonie 6 Ausbau</a>
</li>
