{% extends '_layout.html.twig' %}

{% block headline %}Handlungskämpfe{% endblock %}

{% block submenu %}
    {% include 'guides/_submenu.html.twig' %}
{% endblock %}

{% block content %}

    {% set chapterName = '' %}

    {% for fight in fights %}

        {% if not chapterName is same as(fight.chapter.name) %}
            {% set chapterName = fight.chapter.name %}
            <h2> {{ fight.chapter.name }} </h2>
        {% endif %}

        <div class="xc_ItemWrapper">
            <div class="xc_ItemContent">
                <div class="xc_ItemContentLeft">
                    <div class="xc_ItemField">

                        {% for fightPoint in fightPoints %}
                            {% if fightPoint.storyFight is same as(fight)  %}
                                {% include '_map.html.twig' with {
                                 'map': fightPoint.map,
                                 'mapPoint': fightPoint,
                                 'name': fight.name,
                                 'color': 'yellow'
                                } %}
                            {% endif %}
                        {% endfor %}


                    {# BETTER WOULD BE TO HAVE fightPoint as an index in storyFight  #}


                    </div>
                    <div class="xc_ItemField">
                    <span><strong><a name=""></a>{{ fight.name }}</strong></span>
                    </div>
                </div>
                <div class="xc_ItemContentRight">
                    <div class="xc_ItemArrow">
                        <img src="{{ asset('images/arrow_down.png') }}" />
                    </div>
                </div>
            </div>
            <div class="xc_ItemContentHidden">

            {#   MONSTER
$MonsterData = $xcdb->query("SELECT * FROM xenoblade_monsters WHERE moid = '".$MonsterStoryfightRow['moid']."'");
                $MonsterRow = $xcdb->fetch_array($MonsterData);
                if($MonsterRow['spoiler']) $url = 'http://www.xenoblade.org/monster/monster-nach-mechonis-kern/';
                else $url = $ChapterRow['monster_url'];
                ?>
                #}

                <div class="clear"></div>
                <br/>
                <br/>

                <div style="max-width:800px;">
                    {{ fight.description | raw }}
                </div>

                {% if not fight.video is empty %}
                    <br/>
                    <br/>
                    {{ fight.video | raw }}
                    <br/>
                    <i>Dieses Video wird von uns als Hilfe empfohlen und wurde nicht von uns erstellt.</i>
                {% endif %}

            </div>
        </div>

    {% endfor %}

{% endblock %}

