{% extends '_layout.html.twig' %}

{% block headline %}Handlungskämpfe{% endblock %}
{% block title %}Handlungskämpfe{% endblock %}
{% block submenu %}
    <ul class="submenu-rv">
        {% include 'guides/_submenu.html.twig' %}
    </ul>
{% endblock %}
{% block content %}
    <div class="Handlungskmpfe">
        {% set chapterName = '' %}

        {% for fightData in fightViewData %}

            {% if not chapterName is same as(fightData.fight.chapter.name) %}
                {% set chapterName = fightData.fight.chapter.name %}
                <h2> {{ fightData.fight.chapter.name }} </h2>
            {% endif %}

            <div class="xc_ItemWrapper">
                <div class="xc_ItemContent">
                    <div class="xc_ItemContentLeft">
                        <div class="xc_ItemField">
                            {% include 'maps/_mapIcon.html.twig' with {
                                'map': fightData.mapPoint.map,
                                'mapPoint': fightData.mapPoint,
                                'name': fightData.fight.name,
                                'color': 'yellow'
                            } %}
                        </div>
                        <div class="xc_ItemField">
                            <span><strong><a name=""></a>{{ fightData.fight.name }}</strong></span>
                        </div>
                    </div>
                    <div class="xc_ItemContentRight">
                        <div class="xc_ItemArrow">
                            <img src="{{ asset('images/arrow_down.png') }}"/>
                        </div>
                    </div>
                </div>
                <div class="xc_ItemContentHidden">
                    {% for monsterData in fightData.monsters %}
                        {% set monster = monsterData.monster %}
                        <div class="xc_ItemContentBox">
                            <table class="coloured-table">
                                <thead>
                                <tr>
                                    <td align="center">
                                        <p style="font-size:7px; line-height:7px; float: left; font-weight: bold;">
                                            L<br/>V
                                        </p>
                                        <span style="font-size:16px; font-weight: bold;">{{ monster.levelFrom }}
                                                </span>
                                    </td>
                                    <td>
                                        {{ monster.name }}<br/>
                                    </td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td style="text-align: center" colspan="2">
                                        {% include 'monsters/_monster_image.html.twig' with {
                                            'monster': monster
                                        } %}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        KP:
                                    </td>
                                    <td>
                                        {{ monster.kp }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        EP:
                                    </td>
                                    <td>
                                        {{ monster.ep }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        TeP:
                                    </td>
                                    <td>
                                        {{ monster.tep }}
                                    </td>
                                </tr>
                                {% for skill in monsterData.skills %}
                                    <tr>
                                        <td colspan="2">
                                            {% include '_skill_link.html.twig' with {
                                                'skill': skill
                                            } %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% endfor %}

                    <div class="clear"></div>
                    <br/>
                    <br/>

                    <div style="max-width:800px;">
                        {{ fightData.fight.description | raw }}
                    </div>

                    {% if not fightData.fight.video is empty %}
                        <br/>
                        <br/>
                        {{ fightData.fight.video | raw }}
                        <br/>
                        <i>Dieses Video wird von uns als Hilfe empfohlen und wurde nicht von uns erstellt.</i>
                    {% endif %}

                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

